.events-section {
  padding: 40px;
  width: 100%;
  background-color: #fff;
}
.evens-section_list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  list-style: none;
}
.evens-section_item {
  width: 40%;
  border: 1px solid #404b52;
  padding: 10px;

}
.evens-section_title {

}
.evens-section_par {

}
.subsctibers-section {

}
.subsctibers-section_par {

}



/*-----------------------------------pagination------------------------------*/
.paginate {
  display: flex;
  gap: 12px;
  margin-left: auto;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 4px;
    background-color: #eeeeee;
    color: #404b52;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }
  .active {
    background-color: #5932ea;
    color: #fff;
  }
}
.pagination-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 32px;
}
